node_modules/
dist/
.git
.vscode
.dockerignore
Dockerfile
*.zip
*.rar
*.tgz
*.txt
*.d.ts
*.map
.env*
*.json
*.blob
*.md
src/**/*.js

LICENSE
README.md

!package.json
!package-lock.json
!tsconfig.json

assets/
